body {
    background-color: black;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}

.circle-button {
    position: relative;
    z-index: 2;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    width: 300px;
    height: 100px;
    border-radius: 30%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    animation: button-blink 3s ease-in-out infinite;
}

@keyframes button-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(4px, 0px); }
    50% { transform: translate(-4px, 0px); }
    75% { transform: translate(4px, 0px); }
    100% { transform: translate(0, 0); }
}

@keyframes red-blink {
    0% { background-color: white; color: rgb(255, 0, 0); }
    50% { background-color: #ff0000; color: white; }
    100% { background-color: white; color: rgb(255, 0, 0); }
}

.error {
    animation: 
        shake 0.15s linear infinite, 
        red-blink 0.4s ease-in-out infinite !important;
    border: 2px solid #ff0000;
}

.timer {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 300px;
    height: 10px;
    border: 2px solid black;
    background-color: #000000;
    border-radius: 5px;
    margin: 20px auto;
    overflow: hidden;
    display: none;
}

.timer-bar {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: width 5s linear;
}