body{
  background-color: rgb(115, 137, 109);
}
h1 {
  color: beige;
  padding-left: 10px;
}

p {
  padding-left: 10px;
}

img {
  height: 550px;
  margin: 10px;
  transition: 1s;
  border: 15px solid beige;
}

img:hover {
  height: 700px;
}

#taco:hover {
  background-image: linear-gradient(to right, rgb(255, 0, 157), rgb(0, 255, 55));
}

#container:hover {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid red;
  background-color: coral;
}
